<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Ezz Villas</title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/backgrounds/abstract-1.css" />
        <link rel="stylesheet" type="text/css" href="css/prettyPhoto.css" media="screen"
        />
        <script type='text/javascript' src='js/jquery-1.4.4.min.js'>
        </script>
               <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

        <script type='text/javascript' src='js/jquery.easing.1.3.js'>
        </script>
        <script type='text/javascript' src='js/jquery.cycle.all.min.js'>
        </script>
        <script type='text/javascript' src='js/jquery.validate.js'>
        </script>
        <script type="text/javascript" src="js/jquery.form.js">
        </script>
        <script type='text/javascript' src='js/jquery.prettyPhoto.js'>
        </script>
        <script type='text/javascript' src='js/cufon.js'>
        </script>
        <script type='text/javascript' src='js/aller.cufonfonts.js'>
        </script>
        <script type='text/javascript' src='js/jflickrfeed.min.js'>
        </script>
        <script type='text/javascript' src='js/jquery.tweet.js'>
        </script>
        <script type='text/javascript' src='js/jquery.tools.min.js'>
        </script>
        <script type='text/javascript' src='js/jquery.nivo.slider.pack.js'>
        </script>
        <script type='text/javascript' src='js/jquery.kwicks-1.5.1.pack.js'>
        </script>
        <script type='text/javascript' src='js/script.js'>
        </script>
        <script type='text/javascript' src='js/jquery.innerfade.js'>
        </script>
        
        <!--[if IE]>
            <link rel="stylesheet" type="text/css" href="css/ie-fix.css" />
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="css/jkmegamenu.css" />
<script type="text/javascript" src="js/jkmegamenu.js">

/***********************************************
* jQuery Mega Menu- by JavaScript Kit (www.javascriptkit.com)
* This notice must stay intact for usage
* Visit JavaScript Kit at http://www.javascriptkit.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

//jkmegamenu.definemenu("anchorid", "menuid", "mouseover|click")
jkmegamenu.definemenu("megaanchor", "megamenu1", "mouseover")

</script>
         
    </head>
    
    <body>
         
        <!-- wrapper -->
        <div id="container">
            <!-- 100% Bakcground Image -->
            <div class="background_holder">
                <!-- <img src="images/background_images/home_background1.jpg" alt="" />-->
                <img src="images/black.png" ice:repeating="true" />
                
                -->
            </div>
            <!-- / 100% Bakcground Image -->
            <!-- Top Bar -->
            <div id="top_bar">
                <div class="top_content">
                    <!-- Search -->
                    <div class="search_bar">
                        Call us:+91-8904762692
                    </div>
                    <!-- / Search-->
                    <!-- Top Links -->
                    <ul class="top_links ">
                        <li class="first">
                            <a href="" title="">Home</a>
                        </li>
                        <li>
                            <a href="" title="">About Us</a>
                        </li>
                        
                    </ul>
                    <!-- / Top Links -->
                    <!-- / flags -->
                    <ul class="flags">
                        <li>
                            <a href="#" title="India" class="j_ttip"><img src="images/assets/flags/in.png" height="12" alt="in" width="18" /></a>
                        </li>
                        <li>
                            <a href="#" title="England" class="j_ttip"><img src="images/assets/flags/en.png" height="12" alt="en" width="18" /></a>
                        </li>
                    </ul>
                    <!-- / flags -->
                </div>
            </div>
            <!-- / Top Bar -->
            <!-- wrapper 2 -->
            <div id="wrapper">
                <!-- Header -->
                <div id="header">
                    <!-- logo -->
                    <div id="logo">
                    <a href="index.html" title=""><img src="images/logo.jpg" alt="" class="png" /></a>
                    </div>
                    <!-- /logo -->
                    <!-- header slogan -->
                    <div class="top_slogan">
                    </div>
                    <!-- /header slogan -->
                    <div class="clear">
                    </div>
                </div>
                <!-- / Header -->
                <!-- Navigation -->
                <div id="navigation" >
    <!--Mega Menu Anchor-->
    <ul>
        <li><a href="#" id="megaanchor">Destinations</a><span>Our Villas and home stays</span></li>
        <div id="megamenu1" class="megamenu" style="background-color: red !important;">
            <div class="column">
                <h3 class="mega-header"><a href="kerala.html">Kerala</a></h3>
                <ul>
                    <li><a href="{{base_url}}/destination/waynad">Waynad</a></li>
                    <li><a href="{{base_url}}/destination/alleppey">Alleppey</a></li>
                    <li><a href="{{base_url}}/destination/munnar">Munnar</a></li>
                    <li><a href="#">Kumarakom</a></li>
                    <li><a href="#">Kochi</a></li>
                    <li><a href="#">Wagamon</a></li>
                    <li><a href="#">Kovalam</a></li>
                    <li><a href="#">Silent Valley</a></li>
                </ul>
            </div>

            <div class="column">
                <h3><a>Karnataka</a></h3>
                <ul>
                    <li><a href="{{base_url}}/destination/coorg">Coorg</a></li>
                    <li><a href="#">Chikmanglur</a></li>
                    <li><a href="#">Shimoga</a></li>
                </ul>
            </div>

            <div class="column">
                <h3><a>Rajasthan</a></h3>
                <ul>
                    <li><a href="{{base_url}}/destination/jaipur">Jaipur</a></li>
                    <li><a href="{{base_url}}/destination/jaisalmer">Jaisalmer</a></li>
                    <li><a href="{{base_url}}/destination/udaipur">Udaipur</a></li>
                    <li><a href="{{base_url}}/destination/jodhpur">Jodhpur</a></li>
                </ul>
            </div>

            <br style="clear: left"/> <!--Break after 3rd column. Move this if desired-->
            <br/>
            <div class="column">
                <h3><a>Jammu &amp; Kashmir</a></h3>
                <ul>
                    <li><a href="#">Kashmir</a></li>
                    <li><a href="#">Srinagar</a></li>
                    <li><a href="#">Leh</a></li>
                    <li><a href="#">Gulmarg</a></li>
                </ul>
            </div>

            <div class="column" >
                <h3><a>Himachal Pradesh</a></h3>
                <ul>
                    <li><a href="#">Shimla</a></li>
                    <li><a href="#">Kullu</a></li>
                    <li><a href="#">Manali</a></li>
                    <li><a href="#">Kasauli</a></li>
                </ul>
            </div>

            <div class="column">
                <h3><a>Tamil Nadu</a></h3>
                <ul>
                    <li><a href="#">Ooty</a></li>
                    <li><a href="#">Kodaikanal</a></li>
                    <li><a href="#">Cuddalore</a></li>
                </ul>
            </div>
            <br style="clear: left"/>

            <div class="column">
                <h3><a href="#">Arunachal Pradesh</a></h3>
            </div>
            <div class="column">
                <h3><a href="#">Pondicherry</a></h3>
            </div>
            <div class="column">
                <h3><a href="#">Uttaranchal</a></h3>
            </div>
        </div>
        <li><a href="#"> Vacation Ideas</a><span>Coming Soon!</span></li>
        <!--<li><a href="#">Hot Deals</a><span>Best Vacation Offers</span></li>-->
        <li><a href="{{base_url}}/static/about.html">About Us</a><span>Why Ezz Villas Rentals</span></li>
        <li><a href="{{base_url}}/static/contact_us.html">Contact Us</a></li>

    </ul>
</div>
                <!-- / Navigation -->
                <!-- Page navigation-->
                <div class="breadcrumb">
                    Home->About Us
                </div>
                <!-- /Page navigation-->
                <!-- Content -->
                <div class="content sub">
                    <!-- Left Side -->
                    <div class="left">
                        <!-- Page Title -->
                        <h2>
                            Contact Us
                        </h2>
                        <div class="line">
                        </div>
                        <!-- / Page Title -->
                        <!-- Column Left - Contact Details -->
                        <div class="box two first">
                            <p>
                                At Ezz Villas, we take care of every aspect of the villla booking. We strive hard to make sure that each holiday villa rental that you book through ezzvillas.com becomes one of the most memorable moment of your life.
                            </p>
                            <ul class="lined">
                                <li>
                                    <strong>
                                        Address:
                                    </strong>
Bangalore                                </li>
                                <li>
                                    <strong>
                                        Phone:
                                    </strong>
                                    +91-8904762692
                                </li>
                                <li>
                                    <strong>
                                        Mobile:
                                    </strong>
                                    +91-8904762692
                                </li>
                                <li>
                                    <strong>
                                        E-Mail:
                                    </strong>
                                    care@ezzvillas.com<br/>bookings@ezzvillas.com
                                </li>
                            </ul>
                        </div>
                        <!-- / Column Left - Contact Details -->
                        <!-- Column Right - Google Map -->
                        <div class="box two last">
                            <p>
                              <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?q=kormangla&amp;ie=UTF8&amp;hq=&amp;hnear=Koramangala,+Bangalore,+Bangalore+Urban,+Karnataka&amp;t=m&amp;iwloc=A&amp;ll=12.931656,77.622696&amp;spn=0.036525,0.06287&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.in/maps?q=kormangla&amp;ie=UTF8&amp;hq=&amp;hnear=Koramangala,+Bangalore,+Bangalore+Urban,+Karnataka&amp;t=m&amp;iwloc=A&amp;ll=12.931656,77.622696&amp;spn=0.036525,0.06287&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>  
                            </p>
                        </div>
                        <!-- / Column Right - Google Map -->
                        <div class="clear">
                        </div>
                        <!-- contact form -->
                        <h3>
                            Contact Form
                        </h3>
                        <div class="line">
                        </div>
                        <p>
                            <i>
                                Please fill this contact form and we shall contact you within 2 business hours. Thanks.
                            </i>
                        </p>
                        <div id="result">
                        </div>
                        <div id="contact_form">
                            <form action="" id="validate_form"
                            method="post" class="showtextback">
                                <ul>
                                    <li>
                                        <input id="name_field" type="text" title="This field is required." name="name" value="Your name: (*)"
                                        class="required" />
                                    </li>
                                    <li>
                                        <input id="email_field" type="text" title="Please enter a valid email address" name="email"
                                        value="Your Email: (*)" class="required email" />
                                    </li>
                                    <li>
                                        <input id="phone_field" type="text" title="This field is required." name="phone"
                                        value="Phone Number: (*)" class="required" />
                                    </li>
                                    <li>
                                        <input id="company_name_field" type="text" name="company_name" value="Company Name:"
                                        />
                                    </li>
                                    <li>
                                        <input id="company_url_field" type="text" name="company_url" value="Company URL:"
                                        />
                                    </li>
                                    <li>
                                        <textarea id="message_field" name="message" rows="8" cols="40" class="required">
                                            Your message: (*)
                                        </textarea>
                                    </li>
                                    <li>
                                        <input type="submit" class="button" value="Send" />
                                        <span class="loading">
                                        </span>
                                    </li>
                                </ul>
                            </form>
                        </div>
                        <!-- /contact form -->
                        <div class="clear">
                        </div>
                    </div>
                    <!-- / Left -->
                    <!-- Sidebar -->
                    
                    <div class="clear">
                    </div>
                </div>
                <!-- / Content -->
            </div>
            <!-- / wrapper 2 end-->
        </div>
        <!-- / wrapper end-->
        <!-- Footer -->
        <div id="footer">
            <div class="bottom_corners">
            </div>
            <!-- banner bar with button -->
            
            <!-- / banner bar with button -->
            <!-- First Row -->
            <div class="row footer">
                <!-- box -->
                <div class="box four first">
                    <!-- Latest News -->
                    <h5>
                        <a href="#">Featured Villas</a>
                    </h5>
                    <ul class="footer_list">
                        <li>
                            <a href="#" title="">Villas in Goa</a>
                        </li>
                        <li>
                            <a href="#" title="">Villas in Ooty </a>
                        </li>
                        <li>
                            <a href="#" title="">Villas in Allepy</a>
                        </li>
                        <li>
                            <a href="#" title="">Villas in Koorg</a>
                        </li>
                        <li>
                            <a href="#" title="">Villas in Kochi</a>
                        </li>
                        <li>
                            <a href="#" title="">Villas in Kodaikanal </a>
                        </li>
                    </ul>
                </div>
                <!-- /box -->
                <!-- box -->
                <div class="box four">
                    <!-- Links -->
                    <h5>
                        <a href="#">Try our Theme Villas</a>
                    </h5>
                    <ul class="footer_list">
                        <li>
                            <a href="#" title="">Honeymoon</a>
                        </li>
                        <li>
                            <a href="#" title="">Family Outings </a>
                        </li>
                        <li>
                            <a href="#" title="">Wildlife Adventure</a>
                        </li>
                        <li>
                            <a href="#" title="">Luxury at its best</a>
                        </li>
                        <li>
                            <a href="#" title="">Some Exotic Theme</a>
                        </li>
                       
                    </ul>
                </div>
                <!-- /box -->
                <!-- box -->
                <div class="box four">
                    <!-- box title-->
                    <h5>
                        <a href="#"></a>
                    </h5>
                    <!-- text-->
                    <p>
                    </p>
                </div>
                <!-- /box -->
                <!-- box -->
                <div class="box four last">
                    <!-- box title-->
                    <h5>
                        <a href=""></a>
                    </h5>
                    <div id="result_footer">
                    </div>
                        <!--/ form -->
                    </div>
                </div>
                <!-- /box -->
                <div class="clear">
                </div>
            </div>
            <!-- / First Row -->
            <!-- Second Row -->
            <div class="second_footer">
                <div class="row sfooter">
                    Copyright © 2013 Ezzvillas.com
                    <!-- footer menu -->
                   
                    <!-- / footer menu -->
                    <!-- social media icons -->
                    <div class="social_media_icons">
                        <a href="#" class="j_ttip" title="folllow us on twitter"><img src="images/social_media/twitter_16.png" alt="" /></a>
                        <a href="#" class="j_ttip" title="folllow us on facebook"><img src="images/social_media/facebook_16.png" alt="" /></a>
                        <a href="#" class="j_ttip" title="subscribe to our rss feeds"><img src="images/social_media/rss_16.png" alt="" /></a>
                    </div>
                    <!-- / social media icons -->
                </div>
            </div>
            <!-- / Second Row -->
        </div>
        <!-- / Footer -->
    </body>
 


</html>