<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>
            EzzHolidays
        </title>
        <link rel="stylesheet" type="text/css" href="../v/css/style.css" />
        <link rel="stylesheet" type="text/css" href="../v/css/prettyPhoto.css" media="screen"
        />
        <script type='text/javascript' src='../v/js/jquery-1.4.4.min.js'>
        </script>
        <script type='text/javascript' src='../v/js/jquery.easing.1.3.js'>
        </script>
        <script type='text/javascript' src='../v/js/jquery.cycle.all.min.js'>
        </script>
        <script type='text/javascript' src='../v/js/jquery.validate.js'>
        </script>
        <script type="text/javascript" src="../v/js/jquery.form.js">
        </script>
        <script type='text/javascript' src='../v/js/jquery.prettyPhoto.js'>
        </script>
        <script type='text/javascript' src='../v/js/cufon.js'>
        </script>
        <script type='text/javascript' src='../v/js/aller.cufonfonts.js'>
        </script>
        <script type='text/javascript' src='../v/js/jflickrfeed.min.js'>
        </script>
        <script type='text/javascript' src='../v/js/jquery.tweet.js'>
        </script>
        <script type='text/javascript' src='../v/js/jquery.tools.min.js'>
        </script>
        <script type='text/javascript' src='../v/js/jquery.nivo.slider.pack.js'>
        </script>
        <script type='text/javascript' src='../v/js/jquery.kwicks-1.5.1.pack.js'>
        </script>
        <script type='text/javascript' src='../v/js/script.js'>
        </script>
        <script type='text/javascript' src='../v/js/jquery.innerfade.js'>
        </script>
         
        <!--[if IE]>
            <link rel="stylesheet" type="text/css" href="css/ie-fix.css" />
        <![endif]-->
       <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="../v/css/jkmegamenu.css" />

<script type="text/javascript" src="../v/js/jkmegamenu.js">

/***********************************************
* jQuery Mega Menu- by JavaScript Kit (www.javascriptkit.com)
* This notice must stay intact for usage
* Visit JavaScript Kit at http://www.javascriptkit.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

//jkmegamenu.definemenu("anchorid", "menuid", "mouseover|click")
jkmegamenu.definemenu("megaanchor", "megamenu1", "mouseover")

</script>
        
    </head>
    
    <body>
        <!-- wrapper -->
        <div id="container">
            <!-- Bakcground Slider -->
            <div class="background_holder">
            <img src="../../../../images/black.jpg" height="1400"/>
               <!-- <ul class="background_slider">
                    <li>
                        <img src="images/background_images/home_background1.jpg" alt="" />
                    </li>
                    <li>
                        <img src="images/background_images/home_background2.jpg" alt="" />
                    </li>
                    <li>
                        <img src="images/background_images/home_background3.jpg" alt="" />
                    </li>
                    <li>
                        <img src="images/background_images/home_background4.jpg" alt="" />
                    </li>
                </ul>-->
            </div>
            <!-- / Bakcground Slider -->
            <!-- Top Bar -->
            <div id="top_bar">
                <div class="top_content">
               
                    <!-- Search -->
                    <div class="search_bar">
                         Call us:8824354365
                        <!--<form action="#" method="get" class="showtextback">
                            <fieldset>
                                <input type="text" class="search_text" name="q" value="search" />
                                <input type="image" src="images/pixel.gif" class="searchsubmit" alt="" />
                                
                            </fieldset>
                        </form>-->
                    </div>
                    <!-- / Search-->
                    <!-- Top Links -->
                    <ul class="top_links ">
                        <li class="first">
                            <a href="../v/index.html" title="">Home</a>
                        </li>
                       <!-- <li>
                            <a href="index-2.html" title="">Career</a>
                        </li>-->
                        <li>
                            <a href="#" title="">About Us</a>
                        </li>
                        <li>
                        <a href="#" title="Blog">Blog</a>
                        </li>
                        <li>
                        <a href="#" title="Owners">Owners</a></li>
                    </ul>
                    <!-- / Top Links -->
                    <!-- / flags -->
                      <ul class="flags">
                        <li>
                            <a href="#" title="India" class="j_ttip"><img src="images/assets/flags/in.png" height="12" alt="in" width="18" /></a>
                        </li>
                        <li>
                            <a href="#" title="England" class="j_ttip"><img src="images/assets/flags/en.png" height="12" alt="en" width="18" /></a>
                        </li>
                    </ul>
                    <!-- / flags -->
                </div>
            </div>
            <!-- / Top Bar -->
            <!-- wrapper 2 -->
            <div id="wrapper">
                <!-- Header -->
                <div id="header">
                    <!-- logo -->
                    <div id="logo">
                    <a href="../v/index.html" title=""><img src="images/logo.jpg" alt="" class="png" /></a>
                    </div>
                    <!-- /logo -->
                    <!-- header slogan -->
                    <div class="top_search">
                     
                    
                                        
                    <!-- call us free-->
                    </div>
                    <!-- /header slogan -->
                    <div class="clear">
                    </div>
                </div>
                <!-- / Header -->
                <!-- Navigation -->
                <div id="navigation">
                 <!--Mega Menu Anchor-->
                 <ul>
<li><a href="#" id="megaanchor">Destinations</a><span>Our Villas and home stays</span></li>



<!--Mega Drop Down Menu HTML. Retain given CSS classes-->
<div id="megamenu1" class="megamenu">
<div class="column">
	<h3><a href="kerala.html">Kerala</a></h3>
	<ul>
	<li><a href="../v/waynad.php">Waynad</a></li>
	<li><a href="../v/alleppey.php">Alleppey</a></li>
	<li><a href="munnar.php">Munnar</a></li>
	<li><a href="kumarakom.php">Kumarakom</a></li>
	<li><a href="kochi.php">Kochi</a></li>
    <li><a href="wagamon.php">Wagamon</a></li>
    <li><a href="kovalam.php">Kovalam</a></li>
    <li><a href="silentvalley.php">Silent Valley</a></li><br/><br/>
    
	</ul>
</div>
<br/>

<div class="column">
	<h3><a href="../v/karnataka.html">Karnataka</a></h3>
	<ul>
	<li><a href="coorg.php">Coorg</a></li>
	<li><a href="chikmanglur.php">Chikmanglur</a></li>
	<li><a href="shimoga.php">Shimoga</a></li>
	</ul>
</div>

<div class="column">
	<h3><a href="../v/rajasthan.html">Rajasthan</a></h3>
	<ul>
	<li><a href="jaipur.php">Jaipur</a></li>
	<li><a href="jaisalmer.php">Jaisalmer</a></li>
	<li><a href="udaipur.php">Udaipur</a></li>
	<li><a href="jodhpur.php">Jodhpur</a></li>
	</ul>
</div>

<br style="clear: left" /> <!--Break after 3rd column. Move this if desired-->

<div class="column">
	<h3><a href="../v/jnk.html">Jammu &amp; Kashmir</a></h3>
	<ul>
	<li><a href="kashmir.php">Kashmir</a></li>
	<li><a href="srinagar.php">Srinagar</a></li>
	<li><a href="leh.php">Leh</a></li>
	<li><a href="gulmarg.php">Gulmarg</a></li>
	</ul>
</div>

<div class="column">
	<h3><a href="../v/himachal.html">Himachal Pradesh</a></h3>
	<ul>
	<li><a href="#">Shimla</a></li>
	<li><a href="#">Kullu</a></li>
	<li><a href="#">Manali</a></li>
	<li><a href="#">Kasauli</a></li>
	</ul>
</div>

<div class="column">
	<h3><a href="tamilnadu.html">Tamil Nadu</a></h3>
	<ul>
	<li><a href="#">Ooty</a></li>
	<li><a href="#">Kodaikanal</a></li>
	<li><a href="#">Cuddalore</a></li>
	</ul>
</div>
<br style="clear: left" />
<div class="column">
<h3><a href="#">Arunachal Pradesh</a></h3>
</div>
<div class="column">
<h3><a href="#">Pondicherry</a></h3>
</div>
<div class="column">
<h3><a href="#">Uttaranchal</a></h3>
</div>
</div>  
<li><a href="#"> Vacation Ideas</a><span>Ezz Ways of Holidays</span></li>
<li><a href="#">Hot Deals</a><span>Best Vacation Offers</span></li>
<li><a href="#">About Us</a><span>Why Ezz Villas Rentals</span></li>
<li><a href="#">Contact Us</a></li>

</ul>
                </div>
                <!-- / Navigation -->
                <!-- Page navigation-->
                
                <!-- /Page navigation-->
                <!-- Content -->
                <div class="content sub">
                    <!-- Left Side -->
                    <div class="left">
                        <!-- Page Title -->
                        <h2>
                            Destinations Offered in Kerala:
                        </h2>
                        <div class="line">
                        </div>
                        <!-- / Page Title -->
                        <!--three column first-->
                        <div class="box three products first">
                            <!-- product image -->
                            <span class="aligncenter">
                                <span class="border">
                                    <a href="../v/waynad.php" title="" class="imgeffect plus"><img src="images/kerala/kerala/1297535271kerala backwaters.jpg" width="188" height="141" alt="" /></a>
                                </span>
                            </span>
                            <!-- product name -->
                            <h6>
                                Waynad
                            </h6>
                            <p>
                                <!-- product description -->
Some description  about the place(1 line).                                <!-- price -->
                                <br />
                               
                            </p>
                        </div>
                        <!-- / three column -->
                        <!--three column-->
                        <div class="box three products">
                            <!-- product image -->
                            <span class="aligncenter">
                                <span class="border">
                                    <a href="../v/alleppey.php" title="" class="imgeffect plus"><img src="images/kerala/kerala/ImageReader.jpg" width="188" height="141" alt="" /></a>
                                </span>
                            </span>
                            <!-- product name -->
                            <h6>
                                Alleppey
                            </h6>
                            <p>
                                <!-- product description -->
Some description  about the place(1 line).                                <!-- price -->
                                <br />
                                
                            </p>
                        </div>
                        <!-- / three column -->
                        <!--three column last-->
                        <div class="box three products last">
                            <!-- product image -->
                            <span class="aligncenter">
                                <span class="border">
                                    <a href="product_detail.html" title="" class="imgeffect plus"><img src="images/kerala/kerala/images (1).jpg" width="188" height="141" alt="" /></a>
                                </span>
                            </span>
                            <!-- product name -->
                            <h6>
                                Munnar
                            </h6>
                            <p>
                                <!-- product description -->
Some description  about the place(1 line).                                <!-- price -->
                                <br />
                                                            </p>
                        </div>
                        <!-- / three column -->
                        <div class="line">
                        </div>
                        <!--three column first-->
                        <div class="box three products first">
                            <!-- product image -->
                            <span class="aligncenter">
                                <span class="border">
                                    <a href="product_detail.html" title="" class="imgeffect plus"><img src="images/kerala/kerala/images (2).jpg" width="188" height="141" alt="" /></a>
                                </span>
                            </span>
                            <!-- product name -->
                            <h6>
                                Kumarakom
                            </h6>
                            <p>
                                <!-- product description -->Some description  about the place(1 line).
                                <!-- price -->
                                <br />
                                
                            </p>
                        </div>
                        <!-- / three column -->
                        <!--three column-->
                        <div class="box three products">
                            <!-- product image -->
                            <span class="aligncenter">
                                <span class="border">
                                    <a href="product_detail.html" title="" class="imgeffect plus"><img src="images/kerala/kerala/images.jpg" width="188" height="141" alt="" /></a>
                                </span>
                            </span>
                            <!-- product name -->
                            <h6>
                               Kochi
                            </h6>
                            <p>
                                <!-- product description -->
Some description  about the place(1 line).                                <!-- price -->
                                <br />
                                
                            </p>
                        </div>
                        <!-- / three column -->
                        <!--three column last-->
                        <div class="box three products last">
                            <!-- product image -->
                            <span class="aligncenter">
                                <span class="border">
                                    <a href="product_detail.html" title="" class="imgeffect plus"><img src="images/kerala/kerala/kerala.jpg" width="188" height="141" alt="" /></a>
                                </span>
                            </span>
                            <!-- product name -->
                            <h6>
                                Wagamon
                            </h6>
                            <p>
                                <!-- product description -->Some description  about the place(1 line).
                                <!-- price -->dssssssssdssdfffffffffsdffffffffffffffffffffffffffffffffsd
                                <br />
                                
                            </p>
                        </div>
                        <div class="line">
                        </div>
                         <div class="box three products first">
                            <!-- product image -->
                            <span class="aligncenter">
                                <span class="border">
                                    <a href="product_detail.html" title="" class="imgeffect plus"><img src="images/kerala/kerala/Kerala_backwater.jpg" width="188" height="141" alt="" /></a>
                                </span>
                            </span>
                            <!-- product name -->
                            <h6>
                                Kovalam
                            </h6>
                            <p>
                                <!-- product description -->
Some description  about the place(1 line).                                <!-- price -->
                                <br />
                                
                            </p>
                        </div>
                        <div class="box three product">
                            <!-- product image -->
                            <span class="aligncenter">
                                <span class="border">
                                    <a href="product_detail.html" title="" class="imgeffect plus"><img src="images/kerala/kerala/Munnar-kerala-travel.jpg" width="188" height="141" alt="" /></a>
                                </span>
                            </span>
                            <!-- product name -->
                            <h6>
                                Silent Valley
                            </h6>
                            <p>
                                <!-- product description -->
Some description  about the place(1 line).                                <!-- price -->
                                <br />
                                
                            </p>
                        </div>
                        <div class="box three product last">
                            <!-- product image -->
                            <span class="aligncenter">
                                <span class="border">
                                    <a href="product_detail.html" title="" class="imgeffect plus"><img src="images/kerala/kerala/munnar1.jpg" width="188" height="141" alt="" /></a>
                                </span>
                            </span>
                            <!-- product name -->
                            <h6>
                                Trivandrum
                            </h6>
                            <p>
                                <!-- product description -->
Some description  about the place(1 line).                                <!-- price -->
                                <br />
                                
                            </p>
                        </div>
                        

                        <!-- / three column -->
                        <div class="line">
                        </div>
                        <!-- paging-->
                        <ul class="paging blog">
                            <li class="arrowleft">
                                <a href="#">&nbsp;</a>
                            </li>
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">5</a>
                            </li>
                            <li>
                                <a href="#">16</a>
                            </li>
                            <li class="arrowright">
                                <a href="#">&nbsp;</a>
                            </li>
                        </ul>
                        <!-- / paging-->
                        <div class="clear">
                        </div>
                    </div>
                    <!-- / Left -->
                    <!-- Sidebar -->
                    <div class="sidebar">
                        <div class="sidebar_back">
                            <!-- Sub Navigation -->
                            <div class="box">
                                <!-- Title-->
                                <h4>
                                    <a href="#">Featured Villas</a>
                                </h4>
                                <!-- Links -->
                                <ul class="sub_navigation">
                                    <li> <img src="images/kerala/chandragiri/2.jpg"></li><h5> Chandra Giri bungalow</h5> Chandra Giri Bunglow in Waynad is a delight too stay and promises a memorial vacation for you and your family. <span class="readmore">Read More</span>
                                    
                                </ul>
                                <!-- / Links -->
                            </div>
                            <!-- / Sub Navigation -->
                            <!-- new product -->
                            <div class="box four">
                                
                                <!-- product image -->
                                <span class="border alignleft">
                                    <a href="# " title="" class="imgeffect"><img src="images/kerala/aqua/7.jpg" width="196" alt=""   class="align" /></a>
                                </span>
                                <!-- text --> 
                                <h5>AquaBliss Villa</h5>
                                <p>This villa gives your holiday a perfect touch. With its prestine location and well behaved staff, you will get the confort of being at home, away from home.</p>
                                <!-- button -->
                                <span class="button">Read More</span>
                            </div>
                            <!-- new product -->
                        </div>
                    </div>
                    <!-- / Sidebar -->
                    <div class="clear">
                    </div>
                </div>
                <!-- / Content -->
            </div>
            <!-- / wrapper 2 end-->
        </div>
        <!-- / wrapper end-->
        <!-- Footer -->
        <div id="footer">
            <div class="bottom_corners">
            </div>
            <!-- banner bar with button -->
           
            <!-- / banner bar with button -->
            <!-- First Row -->
            <div class="row footer">
                <!-- box -->
                <div class="box four first">
                    <!-- Latest News -->
                    <h5>
                        <a href="#">Featured Villas</a>
                    </h5>
                    <ul class="footer_list">
                        <li>
                            <a href="#" title="">Villas in Goa</a>
                        </li>
                        <li>
                            <a href="#" title="">Villas in Ooty </a>
                        </li>
                        <li>
                            <a href="#" title="">Villas in Allepy</a>
                        </li>
                        <li>
                            <a href="#" title="">Villas in Koorg</a>
                        </li>
                        <li>
                            <a href="#" title="">Villas in Kochi</a>
                        </li>
                        <li>
                            <a href="#" title="">Villas in Kodaikanal </a>
                        </li>
                    </ul>
                </div>
                <!-- /box -->
                <!-- box -->
                <div class="box four">
                    <!-- Links -->
                    <h5>
                        <a href="#">Try our Theme Villas</a>
                    </h5>
                    <ul class="footer_list">
                        <li>
                            <a href="#" title="">Honeymoon</a>
                        </li>
                        <li>
                            <a href="#" title="">Family Outings </a>
                        </li>
                        <li>
                            <a href="#" title="">Wildlife Adventure</a>
                        </li>
                        <li>
                            <a href="#" title="">Luxury at its best</a>
                        </li>
                        <li>
                            <a href="#" title="">Some Exotic Theme</a>
                        </li>
                       
                    </ul>
                </div>
                <!-- /box -->
                <!-- box -->
                <div class="box four">
                    <!-- box title-->
                    <h5>
                        <a href="#"></a>
                    </h5>
                    <!-- text-->
                    <p>
                    </p>
                </div>
                <!-- /box -->
                <!-- box -->
                <div class="box four last">
                    <!-- box title-->
                    <h5>
                        <a href=""></a>
                    </h5>
                    <div id="result_footer">
                    </div>
                        <!--/ form -->
                    </div>
                </div>
                <!-- /box -->
                <div class="clear">
                </div>
            </div>
            <!-- / First Row -->
            <!-- Second Row -->
            <div class="second_footer">
                <div class="row sfooter">
                    Copyright © 2013 Ezzholidays.com
                    <!-- footer menu -->
                   
                    <!-- / footer menu -->
                    <!-- social media icons -->
                    <div class="social_media_icons">
                        <a href="#" class="j_ttip" title="folllow us on twitter"><img src="../../../../images/social_media/twitter_16.png" alt="" /></a>
                        <a href="#" class="j_ttip" title="folllow us on facebook"><img src="../../../../images/social_media/facebook_16.png" alt="" /></a>
                        <a href="#" class="j_ttip" title="subscribe to our rss feeds"><img src="../../../../images/social_media/rss_16.png" alt="" /></a>
                    </div>
                    <!-- / social media icons -->
                </div>
            </div>
            <!-- / Second Row -->
        </div>
        <!-- / Footer -->
    </body>
 

</html>